@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-fresh-700: #029a49;
}

*:focus-visible {
  outline: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vazir), Arial, sans-serif;
  direction: rtl;
}

@layer utilities {
  .container-layout {
    max-width: 1668px;
    margin-left: auto;
    margin-right: auto;
  }

  .reverse {
    @apply -scale-x-100;
  }

  .overlay {
    @apply bg-stone-900 opacity-30;
  }
}

@layer components {
  .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: 0.8;
  }

  .carousel-side-btn {
    @apply absolute top-1/2 flex h-8 w-8 -translate-y-1/2 items-center justify-center rounded-full bg-stone-200 p-2 text-stone-700 opacity-0 transition-opacity duration-200;
  }

  @keyframes skeleton-loading {
    0% {
      @apply bg-stone-200 text-stone-200;
    }
    100% {
      @apply bg-stone-300 text-stone-300;
    }
  }
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
